*{margin: 0;padding: 0;}
ul{list-style: none;}
img{display: block;}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}

.banner{
    position: relative;
    width: 600px;
    height: 347px;
    margin: 50px auto;
    /* border: 2px solid red; */
}
.pic ul li{
    display: none;
    position: absolute;
}
.pic ul li.on{
    display: block;
}




.pic img{
    width: 600px;
}

.tab ul{
    position: absolute;
    left: 50%;
    bottom: 10px;
    margin-left: -58px;
    /* border: 1px solid yellow; */
}
.tab ul li{
    float: left;
    width: 20px;
    height: 20px;
    margin-right: 4px;
    background-color: rgba(255, 255, 255, .8);
    border-radius: 50%;
}
.tab ul li.on{
    background-color: orangered;
}

.but{
    position: absolute;
    top: 50%;
    margin-top: -20px;
    width: 30px;
    height: 40px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    line-height: 40px;
    background-color: rgba(0, 0, 0, .4);
}
.b-left{
    left: 0;
}
.b-right{
    right: 0;
}