*{margin: 0;padding: 0;}
ul{list-style: none}
strong{font-weight: normal}
a{text-decoration: none;}
img{display: block}
body{background-color: #ddd;}
.clearfix:after{
    content: "";
    display: block;
    clear: both;
}

.wrapper{
    width: 1200px;
    margin: 100px auto 0;
    /* border: 2px solid red; */
}
.wrapper ul li{
    float: left;
    width: 222px;
    height: 215px;
    margin: 0 22px 25px 0;
    /* border: 1px solid black; */
    background-color: #fff;
}
.wrapper ul li.mar{
    margin-right: 0;
}

.wrapper ul li a img{
    width: 222px;
}

.wrapper ul li .info{
    padding: 0 10px;
}

.wrapper ul li .info p a{
    display: inline-block;
    font-size: 14px;
    margin-top: 10px;
    color: #424242;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.wrapper ul li .info p a:hover{
    color: blue;
}

.wrapper ul li .info div{
    margin-top: 28px;
    font-size: 12px;
}

.wrapper ul li .info div .num{
    float: left;
    color: #aaa;
}

.wrapper ul li .info div .num strong,
.wrapper ul li .info div .price{
    color: yellowgreen
}

.wrapper ul li .info div .price{
    float: right;
}