@font-face{
    font-family:fpIconFont;
    src:url(http://at.alicdn.com/t/font_eu7qkdb0zt3jif6r.eot);
    src:url(http://at.alicdn.com/t/font_eu7qkdb0zt3jif6r.eot?#iefix) format('embedded-opentype'),
        url(http://at.alicdn.com/t/font_eu7qkdb0zt3jif6r.woff) format('woff'),
        url(http://at.alicdn.com/t/font_eu7qkdb0zt3jif6r.ttf) format('truetype'),
        url(http://at.alicdn.com/t/font_eu7qkdb0zt3jif6r.svg#fpIconFont) format('svg')
}


.fp-iconfont{
    font-style: normal;
    font-size: 100px;
    color: yellowgreen;
    font-family:fpIconFont!important
}